{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="callout error" style="list-style: none">
                {% for error in errors %}
                    <li>{{ error.message|trans() }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock %}