<html lang="fr">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>A-Corp : Reservations</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/css/front.css') }}">
</head>
<body>
    {% if app.user %}<span>Connecté en tant que {{ app.user }}. <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></span>{% endif %}
    {% if is_granted('ROLE_ADMIN')%}<br><a href="{{ path('sonata_admin_dashboard') }}" target="_blank">Espace d'administration</a>{% endif %}
    <h1>A-Corp : Reservations</h1>

        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>
