{% extends "AppBundle::disconnected_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock form_content %}
