{% extends "AppBundle::disconnected_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form_content %}
    <h2>Mot de passe oublié ?</h2>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
{% endblock form_content %}