{% extends "AppBundle::disconnected_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form_content %}
    <h2>Rentrez votre nouveau mot de passe</h2>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

{% endblock form_content %}