{% extends "AppBundle::disconnected_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form_content %}
    <h2>Créer un compte</h2>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <a href="{{ path('fos_user_security_login') }}">Retour à la page de connexion</a>
    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock form_content %}

