{% extends "AppBundle::disconnected_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block form_content %}
    {% if error %}
        <div class="callout error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h2>Connexion</h2>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <div>
            <a href="{{ path('fos_user_registration_register') }}">Créér un compte</a>
        </div>
        <div>
            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
        </div>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>

{% endblock form_content %}
