{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="filter-container">
        <h2>Choisir la salle et la date</h2>
        {# on créé la form, et on indique l'action sur laquelle poster #}
        {{ form_start(filterForm, {'attr': {'action': path('change_filters')}}) }}
            <div>
                <div>
                    {{ form_label(filterForm.room) }}<br>
                    {{ form_widget(filterForm.room) }}
                </div>
                <div>
                    {{ form_label(filterForm.date) }}<br>
                    {{ form_widget(filterForm.date) }}
                </div>
            </div>
            <button type="submit">Filtrer</button>
        {{ form_end(filterForm) }}
    </div>
    {% if app.session.flashBag.has('error') %}
        {% for message in app.session.flashBag.get('error')  %}
            <div class="callout error">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('success') %}
        {% for message in app.session.flashBag.get('success')  %}
            <div class="callout success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div>
        <p class="title">Salle choisie :  {{ room.label }}. Capacité maximale : {{ room.capacity }}</p>
        <p>
            Pour reserver, il suffit de remplir le nombre de personnes dans le creneau souhaité, et d'appuyer sur reserver<br>
            Il est interdit de reserver dans le passé <br>
            Les reservations sont ouvertes du lundi au vendredi <br>
            La salle a une capacité limitée, vous ne pouvez pas reserver pour plus de personnes<br>
            Les creneaux sont d'une durée de {{ constant('SLOT_DURATION', agendaTree) }} minutes, si vous voulez reserver plus longtemps, il suffit de reserver plusieurs creneaux consécutifs
        </p>
    </div>
    <div id="agenda-container" class="display-flex">
        {% for day in agendaTree.days %}
        <div class="column">
            <h2>{{ day.date|date('d/m/Y') }}</h2>
            <ul>
            {#
                lastNumber est utilisé pour conserver le dernier nombre de gens remplis, pour faciliter les extensions de reservation
                Une reservation n'est pas extensible d'un jour sur l'autre, on initie donc la valeur a null pour le jour
            #}
            {% set lastNumber = null %}
            {% for slot in day.timeSlots %}
                {% if slot.reservation %}
                    {% if app.user.id == slot.reservation.user.id %}
                        <li style="background: limegreen">
                            {% include 'AppBundle:Front/includes:slot_header.html.twig' %}
                            <div>
                                Vous avez reservé pour {{ slot.reservation.numberOfAttendees }} {% include 'AppBundle:Front/includes:number_of_attendees.html.twig' %}
                                {# on sauvegarde le nombre de gens de la reservation, pour faciliter les extensions de reservation #}
                                {% set lastNumber = slot.reservation.numberOfAttendees %}
                                <br>
                                <a href="{{ path('delete_reservation', {'reservation': slot.reservation.id}) }}" class="button">Supprimer ma reservation !</a>
                            </div>
                        </li>
                    {% else %}
                    <li style="background: indianred">
                        {% include 'AppBundle:Front/includes:slot_header.html.twig' %}
                        <div>
                        {# la reservation appartient a un autre, il n'y a donc aucune raison de pouvoir étendre quoi que ce soit, on reset lastNumber #}
                        {% set lastNumber = null %}
                        {{ slot.reservation.user }} a reservé pour {{ slot.reservation.numberOfAttendees }} {% include 'AppBundle:Front/includes:number_of_attendees.html.twig' %}
                        </div>
                    </li>
                    {% endif %}
                {% else %}
                    <li>
                        {% include 'AppBundle:Front/includes:slot_header.html.twig' %}
                        <div>
                            <form action="{{ path('create_reservation') }}" method="POST">
                                {# on crée un id unique pour faire fonctionner le label#}
                                {% set numberInputId = "number-" ~ slot.start|date('d-H-i') %}
                                <label for="{{ numberInputId }}">Nb de personnes</label>
                                <input type="number"  min="0" max="{{ room.capacity }}" id="{{ numberInputId }}" required name="number" value="{{ lastNumber }}">
                                {# puis on ajoute en hidden la date de départ et l'id de la room #}
                                <input type="hidden" name="room" value="{{ room.id }}">
                                <input type="hidden" name="start" value="{{ slot.start|date('Y-m-d H:i:s') }}">
                                <button type="submit">Reserver !</button>
                            </form>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
        </div>
{% endblock content %}