h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

h2 {
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    padding-top: 0.83rem;
    padding-bottom: 0.83rem;
}

.column h2 {
    background: aliceblue;
}

.display-flex {
    display: flex;
}

#agenda-container ul {
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#agenda-container ul li  {
    padding: 1rem;
    min-height: 4rem;
}

#agenda-container ul li h3 {
    margin: 0;
}

.column {
    width:20%;
}

#filter-container {
    text-align: center;
}
#filter-container div > div {
    display: inline-block;
}

p {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0.83rem;
}

p.title {
    font-size: 3rem;
}

#filter-container {
    background: lightgrey;
    padding: 0.83rem;
    border-radius: 5px;
}
#filter-container button {
    margin-top: 0.5rem;
}

.callout {
    padding: 0.83rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    color:white;
    font-size: 2rem;
    text-align: center;
}

.callout.success {
    background: green;
}

.callout.error {
    background: red;
}
.disconnect-form {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0.83rem;
    background: lightgrey;
    border-radius: 5px;
}

.disconnect-form label, .disconnect-forminput {
    margin: auto;
    display: block;

}

input {
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0.25rem;
}
